#wrapper {
       margin-left: auto;
       margin-right: auto;
       width: 80%;
}
html {
       height: 100%;
}
body {
       color: #000000;
       font-family: Arial;
       background-color: #20A535;
       background-image: linear-gradient(to bottom, #EE762D, #12690E);
       background-repeat:  no-repeat;
}
p {

       font-style: italic;
       font-size: 24px;
}
h1 {
       text-align: center;
       text-transform: uppercase;
       font-family: verdana;
}
h2 {
       text-align: center;
}
li {
       font-size: 20px;
}
h2 span {
       background-color: #E23535;
}
p span { 
       background-color: #1F7C0E;
       color: #E23535;
}
.ingredientsdir {
       text-align: left;
}
 .recipeby {
       background-color: #E23535
}
.column1 {
       float: left;
       padding-right: 135px;
}
 a:link {color: pink;} a:visited {color: purple;} a:hover {color: blue;}